.button {
  padding: 8px 16px;
  margin: 10px 5px;
  font-size: 1rem;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
  color: black;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
}
